<div class="container">
    <div class="row">
      <div class="col-2">
        <h1>Experience Tech Brilliance <br />with GeekHaven</h1>
        <p>
          As you embark on your quest for the latest and greatest, remember that
          our tech store isn't just a place to shop - it's a haven for dreamers,
          creators, and those who dare to embrace the future. So join us on this
          exhilarating journey, where technology intertwines with everyday life,
          and innovation is just a heartbeat away. Welcome to Geek Haven, where
          tomorrow begins today.
        </p>
        <a routerLink="../product" class="btn">Expore Now!</a>
      </div>
      <div class="col-2">
        <img src="assets/images/pc.png" />
      </div>
    </div>
  </div>
  